<p>
  <strong>Reviewer:</strong>
  <%= mreview.reviewer %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= mreview.comment %>
</p>
 
<p>
  <%= link_to 'Destroy Review', [mreview.review, mreview],
               data: {confirm: 'Are you sure?' }, 
	       method: :delete %>
</p>
